.speedForm {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10px; */
  align-items: center;
}

.label {
  font-weight: 600;
  opacity: 0;
  transition: all 1s ease-out;
}

.isActive {
  opacity: 1;
}
  
.speed {
  height: 50px;
  border-radius: 43px;
  border: 1px solid mediumaquamarine;
  font-size: 1.2rem;
  text-align: center;
}
  
.speed.active-input {
  border: 2px solid mediumaquamarine;
}